[workspace]
channels = ["conda-forge", "bioconda"]
name = "clair3"
platforms = ["linux-64", "osx-64"]
version = "0.1.0"

[tasks]
models = "curl -L -C - -o clair3_models.tar.gz http://www.bio8.cs.hku.hk/clair3/clair3_models/clair3_models.tar.gz; mkdir -p $CONDA_PREFIX/bin/models && tar -zxvf clair3_models.tar.gz -C $CONDA_PREFIX/bin/models"
build = "pip install . --no-build-isolation; echo '\nBuilding with g++ '; cd Clair3/preprocess/realign && g++ -std=c++14 -O1 -shared -fPIC -o realigner ssw_cpp.cpp ssw.c realigner.cpp && g++ -std=c++11 -shared -fPIC -o debruijn_graph -O3 debruijn_graph.cpp && ls -l realigner debruijn_graph"
pypy = "curl -L -C - -o pypy3.9-v7.3.8-linux64.tar.bz2 https://downloads.python.org/pypy/pypy3.9-v7.3.8-linux64.tar.bz2 && tar -xf pypy3.9-v7.3.8-linux64.tar.bz2 -C $CONDA_PREFIX/bin && ln -sf pypy3.9-v7.3.8-linux64/bin/pypy3 $CONDA_PREFIX/bin/ && ls -l $CONDA_PREFIX/bin/pypy3"
install = [
	{ task = "_clone" },
	{ task = "build" },
	{ task = "pypy" },
	{ task = "models" },
]

[tasks._git]
args = ["repo", { "arg" = "dir", "default" = "--" }]
cmd = "test -e {{ dir }}/.git/config || git clone --depth=1 {{ repo }} {{ dir }}"

[tasks._clone]
depends-on = [
	{ task = "_git", args = ["https://github.com/HKU-BAL/Clair3.git", "Clair3"] },
]

[dependencies]
tensorflow = ">=2.15,<2.16.1"
samtools = ">1"
compilers = ">=1.11.0,<2"
whatshap = ">=2.8,<3"
cffi = ">=2.0.0,<3"
automake = ">=1.17,<2"
cmake = ">=4.2.1,<5"
parallel = ">=20251122,<20251123"
tabix = ">=1.11,<2"
boost-cpp = ">=1.85.0,<2"
pkgconfig = ">=1.5.5,<2"
pip = ">=25.3,<26"

[system-requirements]
cuda = "12.2"

[target.linux-64.dependencies]
longphase = "<2"
tensorflow = { version = ">=2.15,<2.16.1", build = "*cuda*" }
cuda-version = "12.*"
