[workspace]
authors = ["HU Xuesong <87519979+huxs001@users.noreply.github.com>"]
channels = ["conda-forge", "bioconda"]
name = "rmats-turbo"
platforms = ["linux-64", "osx-64"]
version = "0.1.0"

[dependencies]
compilers = ">=1.5"
cython = ">=3"
cmake = ">=3.15,<3.31"
python = ">=3.10,<3.12"
gcc = ">=13"
gxx = ">=13"
gfortran = ">=13"
gsl = ">=2.7,<3"
liblapack = ">=3.9,<4"
zlib = ">=1.2,<2"
samtools = ">=1.23,<2"
star = ">=2.7.11b,<3"

[target.linux-64.dependencies]
#sysroot-cos7-x86_64 = ">=2.17,<3"
sysroot_linux-64 = "*"

#[feature.py2]
#channels = ["darts-comp-bio", "conda-forge", "bioconda"]

[feature.py2.dependencies]
compilers = ">=1.5"
r-base = ">=3.2.1,<4"
python = ">=2.7.5,<3"
# paired
r-doparallel = ">=1"
r-foreach = ">=1.5"
r-iterators = ">=1"
r-nloptr = ">=1.2.1,<2"
# darts
r-dosnow = ">=1"
r-getopt = ">=1.20"
r-ggplot2 = ">=3.1.1"
r-mixtools = ">=1"
r-rcpp = ">=1.0"
#rpy2 = ">=2.8.6,<3"

[feature.py2.target.linux-64.dependencies]
sysroot_linux-64 = "*"

[tasks]
make_rmats = { cmd = 'make && touch ../.rmats_installed', cwd = "rmats-turbo", env = { GSL_LDFLAGS="$(gsl-config --libs)", GSL_CFLAGS="$(gsl-config --cflags)" }, outputs = [".rmats_installed"] }
ins_rmats = "chmod +x rmats-turbo/rmats.py; ln -s ../../../../rmats .pixi/envs/default/bin/"
test = { cmd = "test_rmats", depends-on = [ "make_rmats" ] }
help = 'printf "[!]Build: pixi run install\n • Run 1: ./rmats\n • Run2a: pixi shell\n · Run2b: ./rmats-turbo/rmats.py\n • Run 3: pixi run rmats\n"'
install = [
	{ task = "_clone" },
	{ task = "make_rmats" },
	{ task = "ins_rmats" },
	{ task = "_Rwrapper" },
]

[tasks._git]
args = ["repo", { "arg" = "dir", "default" = "--" }]
cmd = "test -e {{ dir }}/.git/config || git clone --depth=0 {{ repo }} {{ dir }}"

[tasks._clone]
depends-on = [
	{ task = "_git", args = ["https://github.com/Xinglab/rmats-turbo.git", "rmats-turbo"] },
	{ task = "_git", args = ["https://github.com/Xinglab/PAIRADISE.git", "PAIRADISE"] },
	{ task = "_git", args = ["https://github.com/Xinglab/DARTS.git", "DARTS"] },
]

[tasks._Rwrapper]
cmd = 'printf %s\n "#!/usr/bin/env bash" "exec pixi run -e ext -q --color never --as-is env RETICULATE_PYTHON=\"$(command -v python)\" Rscript \"$@\"" >.pixi/envs/default/bin/Rscript && chmod +x .pixi/envs/default/bin/Rscript'
depends-on = [
	{ task = "ins_darts", environment = "ext" },
	{ task = "ins_paired", environment = "ext" },
]

[feature.py2.tasks]
ins_paired = "Rscript rmats-turbo/install_r_deps.R paired"
ins_darts = """
{% if pixi.is_linux %}
	ln -sf g++ .pixi/envs/ext/bin/x86_64-conda_cos6-linux-gnu-c++ &&
	Rscript rmats-turbo/install_r_deps.R darts
{% else %}
	echo "[!] DARTS cannot be built on this platform. Skipped."
{% endif %}
"""

[environments]
ext = { features = ["py2"], no-default-feature = true }
